In [42]:
#1 Indexing
employee_data = ['abc', 125000, 'Google', 5]
message="{name} is working at {company} for {years} years and his salary is {salary}".format(name=employee_data[0],years=employee_data[3],company=employee_data[2],salary=employee_data[1])
print(message)

abc is working at Google for 5 years and his salary is 125000

In [43]:
studentData = ['abc', 'qwe', 'National Textile University', 'Computer Science', 'BS', 50000,'28 Januray 2020', '05 February 2020']

m="""Hello {f_name} {l_name},
Your application is accepted for admission in "{degree} {degree_name}" in {uni}.
You have to submit fee {fee} before {due_date}.
Your classes will start from {class_date}.
Thanks""".format(f_name=studentData[0],l_name=studentData[1],uni=studentData[2],degree_name=studentData[3],degree=studentData[4],fee=studentData[5],due_date=studentData[6],class_date=studentData[7],)
print(m)

Hello abc qwe,
Your application is accepted for admission in "BS Computer Science" in National Textile University.
You have to submit fee 50000 before 28 Januray 2020.
Your classes will start from 05 February 2020.
Thanks

In [31]:
#2. Slicing
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]

#(positive slicing)
print('positive slicing\n',cities[0:4])
print(cities[2:6])
print(cities[5:8])

#(negative slicing)
print('\nnegative slicing\n',cities[-4:-1])
print(cities[-5:])

positive slicing
 ['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']
['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']
['Sahiwal', 'Rawalpindi', 'Sialkot']

negative slicing
 ['Quetta', 'Sahiwal', 'Rawalpindi']
['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

In [54]:
# append
student_data = ["abc qwert", 22, 91.24, "Computer Science", 5, "National Textile University"]
print(*student_data, sep = ", ")

student_data.append('20 February 2019')
print(*student_data, sep = ", ")

student_data.append(8)
print(*student_data, sep = ", ")

abc qwert, 22, 91.24, Computer Science, 5, National Textile University
abc qwert, 22, 91.24, Computer Science, 5, National Textile University, 20 February 2019
abc qwert, 22, 91.24, Computer Science, 5, National Textile University, 20 February 2019, 8

In [55]:
# insert
student_data.insert(4,25000)
print(*student_data, sep = ", ")

student_data.insert(1,'qwe qwe')
print(*student_data, sep = ", ")

abc qwert, 22, 91.24, Computer Science, 25000, 5, National Textile University, 20 February 2019, 8
abc qwert, qwe qwe, 22, 91.24, Computer Science, 25000, 5, National Textile University, 20 February 2019, 8

In [56]:
# update
student_data[0]='asdf'
print(*student_data, sep = ", ")

student_data[6]=7
print(*student_data, sep = ", ")

asdf, qwe qwe, 22, 91.24, Computer Science, 25000, 5, National Textile University, 20 February 2019, 8
asdf, qwe qwe, 22, 91.24, Computer Science, 25000, 7, National Textile University, 20 February 2019, 8

In [57]:
# delete
del student_data[4]
print(*student_data, sep = ", ")

asdf, qwe qwe, 22, 91.24, 25000, 7, National Textile University, 20 February 2019, 8

In [58]:
del student_data[3]
print(*student_data, sep = ", ")

asdf, qwe qwe, 22, 25000, 7, National Textile University, 20 February 2019, 8

In [59]:
# pop
student_data.pop(-1)

8

In [61]:
student_data.pop(3)

25000

In [62]:
print(*student_data, sep = ", ")

asdf, qwe qwe, 22, 7, National Textile University, 20 February 2019

In [99]:
# 4. Multidimensional list tasks

salary_gr_50k = 0
employee_data = [["Ali", 35000, "Software Engineer"],
                 ["Talha", 55000, "Product Manager"],
                 ["Nasir", 79000, "Computer Engineer"],
                 ["Khalid", 44000, "DBA"]]

for i in employee_data:
    salary = i[1]
    if salary >= 50000:
        salary_gr_50k+= salary
        print(*i, sep=', ')
print("\nTotal Salary:",salary_gr_50k)

Talha, 55000, Product Manager
Nasir, 79000, Computer Engineer

Total Salary: 134000

In [100]:
# update in 2d array
employee_data[2][1]=90000
print(employee_data[2])

employee_data[2][2]="Product Manager"
print(employee_data[2])

employee_data[3][1]=50000
print(employee_data[3])

['Nasir', 90000, 'Computer Engineer']
['Nasir', 90000, 'Product Manager']
['Khalid', 50000, 'DBA']

In [109]:
# 5. Login User
user_data = [["abc", "123", True],
            ["qwerty", "567", False]]
u_name=input("Enter username: ")
u_password=input("Enter password: ")
for x in user_data:
    if u_name == x[0]:
        if u_password == x[1]:
            if x[2] == True:
                print('login succesfull!')
                break
            else:
                print('Email not verified!')
                break
    else:
        print('wrong details!')
        break

Enter username: qwe
Enter password: 123
wrong details!